<h1>Downloads</h1>

Here you can download the library and the viewer .js and .css files.

<p><a href="<%= library_link %>" download="djvu.js">Download DjVu.js library (version <%= library_version %>)</a></p>

<p></p><a href="<%= viewer_js_link %>" download="djvu_viewer.js">Download DjVu.js Viewer .js file (version <%= viewer_version %>)</a></p>

<p>Note that since the version 0.5.0 all viewer's CSS is inside the js file. So no separate djvu_viewer.css is provided.</p>

<p>You can download <em>the previous versions</em> <a href="https://github.com/RussCoder/djvujs/releases">here</a>.</p>

<%- partial("_how_to_use") %>